<div class="container">
  <title>Política de Privacidade</title>
    <p><strong>Última atualização: 18/03/2025</strong></p>
    <p>Sua privacidade é importante para nós. Esta Política de Privacidade explica como coletamos, usamos e protegemos seus dados ao utilizar o <strong>BookMatch</strong>.</p>

    <h3>1. Informações Coletadas</h3>
    <p>Coletamos informações fornecidas por você, como nome, e-mail, localização e preferências de leitura.</p>

    <h3>2. Uso das Informações</h3>
    <p>Utilizamos seus dados para conectar você a outros leitores e sugerir trocas de livros.</p>

    <h3>3. Compartilhamento de Dados</h3>
    <p>O <strong>BookMatch</strong> não vende seus dados, apenas os compartilha quando necessário para o funcionamento do aplicativo.</p>

    <h3>4. Segurança dos Dados</h3>
    <p>Implementamos medidas para proteger seus dados contra acesso não autorizado.</p>

    <h3>5. Cookies e Tecnologias de Rastreamento</h3>
    <p>Utilizamos cookies para melhorar a experiência do usuário.</p>

    <h3>6. Direitos do Usuário</h3>
        <p>Você pode solicitar acesso, correção ou exclusão de seus dados pessoais a qualquer momento.</p>

    <h3>7. Alterações na Política</h3>
    <p>Podemos atualizar esta Política periodicamente. O uso contínuo do <strong>BookMatch</strong> após alterações significa que você concorda com os novos termos.</p>

    <p>Para mais informações, entre em contato conosco</p>
