.continue-button input[type="submit"] {
  display: flex;
  width: 327px;
  height: 40px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  background: #222222;
  color: #FFFCFC;
  font-size: 16px;
}

.create-account-button input[type="submit"] {
  display: flex;
  width: 327px;
  height: 40px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #222222;
  background: #FF5000;
  font-size: 16px;
  color: #FFFCFC;
}

.advance-button input[type="submit"] {
  display: flex;
  width: 327px;
  height: 40px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  background: #222222;
  color: #FFFCFC;
  font-size: 14px;
}

.google-button {
  display: flex;
  width: 327px;
  height: 40px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  background: #FFFCFC;
  color: #161616;
  font-size: 14px;
  cursor: pointer;
  gap: 10px;
  transition: background 0.3s ease, transform 0.1s ease;

  .google-icon {
    width: 20px;
    height: 20px;
  }
}

.apple-button {
  display: flex;
  width: 327px;
  height: 40px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  background: #FFFCFC;
  color: #161616;
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;
  gap: 10px;
  transition: background 0.3s ease, transform 0.1s ease;

  .apple-icon {
    width: 20px;
    height: 20px;
  }
}

.add-book-button input[type="submit"] {
  display: flex;
  width: 327px;
  height: 40px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #222222;
  background: #FF5000;
  font-size: 16px;
  color: #FFFCFC;
  text-align: center;
  margin-top: 10px;
}

.profile-button {
  display: flex;
  width: 327px;
  height: 80px;
  justify-content: center;
  align-items: center;
  background: #FFFCFC;
  border-radius: 12px;
  border: none;
  overflow: hidden;


  .profile-button-my-books {
    width: 109px;
    height: 80px;
    flex-shrink: 0;
    background-color: #FFFCFC;
    font-size: 14px;
    color: #222222;

    .my-books-icon {
      width: 20px;
      height: 20px;
    }
  }

  .profile-button-chat {
    width: 109px;
    height: 80px;
    flex-shrink: 0;
    background-color: #FFFCFC;
    font-size: 14px;
    color: #222222;

    .chat-icon {
      width: 20px;
      height: 20px;
    }
  }

  .profile-button-matches {
    width: 109px;
    height: 80px;
    flex-shrink: 0;
    background-color: #FFFCFC;
    font-size: 14px;
    color: #222222;

    .matches-icon {
      width: 20px;
      height: 20px;
    }
  }
}



.isbn-button input[type="submit"] {
  display: flex;
  width: 327px;
  height: 40px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  background: #222222;
  color: #FFF;
  font-size: 14px;
}

.add-isbn-manual-button input[type="submit"] {
  display: flex;
  width: 300px;
  height: 30px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  background: #00C6AE;
}

.isb-scanner-button input[type="submit"] {
  display: flex;
  width: 300px;
  height: 30px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #00C6AE;
  background: #191919;
}

.introduce-isbn-button input[type="submit"] {
  display: flex;
  width: 300px;
  height: 30px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #FFF;
}

.try-again-button input[type="submit"] {
  display: flex;
  width: 300px;
  height: 30px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #00C6AE;
  background: #191919;
}

.edit-book-button input[type="submit"] {
  display: flex;
  width: 300px;
  height: 30px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #F6ECA6;
}

.edit-book-profile-button {
  width: 100px;
  height: 49px;
  flex-shrink: 0;
  background-color: #FFF;
}

.delete-book-button input[type="submit"] {
  display: flex;
  width: 300px;
  height: 30px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
}

.delete-book-profile-button {
  width: 100px;
  height: 49px;
  flex-shrink: 0;
  background-color: #FFF;

}

.icon-above {
  display: block;
  margin: 0 auto;
}

.book-select-button input[type="submit"] {
  display: flex;
  width: 300px;
  height: 30px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #FFF;
}
