.form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  max-width: 360px;
  margin-bottom: 15vh;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  color: #FFFCFC;
  font-size: 16px;
  margin-top: 30px;
}

.form-inputs {
  width: 100%;
  margin-bottom: 2vh;
  font-size: 16px;
  background: none;
  justify-content: center;
  align-items: center;


  input {
    width: 327px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background: #FFFCFC;
    padding: 0 10px;
    font-size: 16px;
    transition: background 0.3s ease, border 0.3s ease;
    color: #222222;

    input:focus {
      background: #FFFCFC;
      outline: none;
      border: 1px solid #FF5000;
      color: #222222;
    }
  }
}

.form-select {
  width: 327px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background: #FFFCFC;
  padding: 0 10px;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;

  .form-select:hover {
    background: #FF5000;
  }


  .form-select:focus {
    background: #FF5000;
  }
}


.form-label {
  font-size: 12px;
  color: #FFFCFC;
}


.form-control {
  font-size: 12px;
  color: #222222;
  background: #FFFCFC;
  text-align: center;
  font-size: 16px;
}

.btn {
  font-size: 12px;
  color: #FFFCFC;
  border: none;
  text-decoration: none;
  background: none;
  transition: transform 0.1s ease-in-out;
}

.btn:active {
  transform: scale(0.95);
  color: #FFFCFC;
}


.form-check-label {
  font-size: 12px;
  color: #161616;
  background: #FFFCFC;
}

.input-wrapper {
  margin-bottom: 1rem;
}

.label-custom {
  font-weight: bold;
  color: #333;
  background: #FFFCFC;
}

.input-custom {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background: #FFFCFC;

  &:focus {
    border-color: #FF5000;
    outline: none;
  }
}

.input-error {
  border-color: red;
}

.input-valid {
  border-color: green;
}

.error-message {
  color: red;
  font-size: 14px;
}

.hint-message {
  font-size: 12px;
  color: gray;
}

.button-custom {
  background-color: #FF5000;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #FF5000;
  }
}
