.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 100vh;
  color: $font-color;
}

.home-logo img {
  width: 327px;
  height: 50px;
  height: auto;
}

.home-form {
  display: flex;
  width: 100%;
  max-width: 360px;
  margin-bottom: 15vh;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.home-top {
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 6vh;
  margin-bottom: 10px;
  font-size: 14px;
  width: 100%;
}

.home-or {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  font-size: 14px;
}

.home-terms {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 3vh;
  font-size: 10px;
  max-width: 80%;
  text-decoration: none;
}

.home-terms a {
  text-decoration: none;
  color: inherit;
}
