.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
  width: 100%;
  height: 100vh;
  color: $font-color;
}
.login-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 20px;
}

.login-logo img {
  width: 300px;
  height: 40px;
}

.login-form {
  display: flex;
  width: 100%;
  max-width: 431px;
  margin-bottom: 20vh;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
}


.login-top {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  text-align: center; /* Centraliza o texto */
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 8vh;
  margin-bottom: 10px;
  width: 100%;
  font-size: 12px;
  flex-direction: column; /* Garante que o texto fique alinhado corretamente */
}

.login-or {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 2vh;
  font-size: 12px
}

.login-terms {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
  margin-bottom: 10vh;
  font-size: 10px;
}
