.matching-container {
  background-color: #FF5000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 100vh;
  color: black;
  padding-top: 150px;
  overflow: hidden;
}

.link-to-chat {
  text-decoration: none;
  background-color: #222222;
  width: 327px;
  height: 40px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border: 1px solid #FFFCFC;
}


@keyframes rotateCards {
  0% {
    transform: rotateY(180deg);
    opacity: 0;
  }
  50% {
    transform: rotateY(90deg);
    opacity: 0.5;
  }
  100% {
    transform: rotateY(0deg);
    opacity: 1;
  }
}

/* Animação do texto "MATCH!" */
.book-card-matching h2 {
  font-size: 2rem;
  text-align: center;
  opacity: 0;
  animation: matchText 2s ease-out forwards 1.5s;
  position: absolute;
  top: 100%;
  margin-top: 50px;
  transform: translateY(-50%);
}

.fireworks {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('/assets/fireworks3.gif') center/cover no-repeat;
  opacity: 1;
  animation: fadeOut 5s ease-out forwards;
  pointer-events: none;
  z-index: 9999;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.book-card-matching {
  position: relative;
  width: 100%;
  height: 250px;
}

.books-matched {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.book-card-photo {
  position: absolute;
  width: 150px;
  height: 250px;
  opacity: 0;
  transition: transform 1s ease-out, opacity 1s;
}

.book-left, .book-right {

  width: 150px;
  height: 250px;
}

.book-photo {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.match-active .book-left {
  transform: translateX(-60%);
  opacity: 1;
}

.match-active .book-right {
  transform: translateX(60%);
  opacity: 1;
}

.matching-title {
  color: #FFFCFC;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.top-matching {
  color: #FFFCFC;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
  line-height: 1.5;
}

.matching-box {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.matching-button-chat {
  display: flex;  /* Garante que o container use o modelo flexbox */
  justify-content: center;  /* Centraliza horizontalmente */
  align-items: center;  /* Centraliza verticalmente */
  width: 100%;  /* Assegura que o contêiner ocupe toda a largura */
  height: 100%;  /* Garante que o contêiner tenha altura suficiente */
}

.matching-button-chat button {
  margin: 0;  /* Remove margens, caso haja alguma afetando a centralização */
}
