.white-background-matchmaking {
  background-color: #FFFCFC;
}

#header-books-show {
  display:flex;
  position: absolute;
  margin-top: 0px;
  padding: 5px;
  top: 0px;
  width: 100%;
  justify-content: space-between;
}

#show-image-book{
  background-color: white;
  display: flex;
  position: relative;
  justify-content: center;
  ul {
    list-style: none;
  }
}
#show-image-book ul:first-of-type{

  margin-top: 100px;
  position: relative;
  width: 280px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  li {
    position: absolute;
    left: 0px;
    color: white !important;
  }

}
#show-image-book ul:last-of-type{
  width: 60%;


  border-top-left-radius: 10px; /* Radius no canto superior esquerdo */
  border-top-right-radius: 10px; /* Radius no canto superior direito */
}

#show-book-info {
  position: absolute;
  bottom: -75px;
  height: 132px;
  border-radius: 12px;
  background-color: rgba(251, 247, 247, 0.445); /* Ajuste a opacidade para controlar a transparência */
  backdrop-filter: blur(10px); /* Aplica o efeito de desfoque ao fundo */
  -webkit-backdrop-filter: blur(10px); /* Compatibilidade com navegadores WebKit (Safari) */
  padding: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

#show-books-bottom-buttons{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;

}
#blur-effect{
  filter: blur(2px);
}
#show-page{
  margin-top: 90px;
  height: 100vh;
}

#show-books-centralize{
  text-align: center;
  margin-top: 80px;
  display: flex;
  justify-content: center;
}
.brand-logo{
  width: 50px;
  height: 50px;
}

#filter-icon-header{
  width: 30px;
  height: 50px;
}

#footer-options {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  align-items: center;
  background-color: #222222;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  position:fixed
}

.footer-icons{

  z-index: 9999;
}

.white-background-matchmaking li,
.white-background-matchmaking p {
  color: white;
  font-weight: bolder;
  font-size: 18px;
}

.white-background-matchmaking p {
  font-size: 20px;
}


@keyframes shake {
  0% { transform: translate(0, 0); }
  10% { transform: translate(-3px, 3px); }
  20% { transform: translate(3px, -3px); }
  30% { transform: translate(-3px, 3px); }
  40% { transform: translate(3px, -3px); }
  50% { transform: translate(-2px, 2px); }
  60% { transform: translate(2px, -2px); }
  70% { transform: translate(-1px, 1px); }
  80% { transform: translate(1px, -1px); }
  90% { transform: translate(0px, 0px); }
  100% { transform: translate(0, 0); }
}

.book-photo-matchmaking {
  border-radius: 12px;
  box-shadow: -4px 4px 8px #222222;
  animation: shake 5s ease-in-out;
}

.icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.like-icon, .dislike-icon {
  width: 50px; /* Ajuste conforme necessário */
  height: 50px;
}

.no-more-books {
  color: black !important;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
