.matches-index-chat{
  background-color: transparent;
  height: 100vh;
  padding: 15px;
  i {
    color: rgb(80, 80, 80)
  }
  margin-top: 50px;

}
#index-avatar-container {
  display: flex;
  text-align: center;
  gap: 6px;
  margin-top: 43px;
  color: #FFFCFC;
  position: fixed;
}
.message-content-index {
  width: 150%;
  overflow: hidden;
}
.index-avatar-profile {
  font-size: 14px;
}
#index-message-container{
  width: 95%;
  margin-left: 0px;
  background-color: #FFFCFC;
  border-radius: 12px 12px 12px 12px;
}
.chat-container {
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 5px;
  margin-bottom: 6px;
  color: black;
  border: solid 1.5px #FF5000;
}
.avatar-index-photo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  border: 2px solid #FF5000;
}

.relative-positioning{
  width: 100%;
  height: 60px;
  position: relative;
}
.index-info-message {
  width: 70%;
  position: absolute;
}

#index-message-alert-time {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;


}

h3 {
  font-weight: bold;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
::-webkit-scrollbar {
   width: 0px;

}
.unread-badge {
  background-color: #ff5000;
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-weight: bold;
  border-radius: 50%;
}




.white-container-match {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 72vh;
  flex-shrink: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #FFFCFC;
  box-sizing: border-box;
  color: $font-color;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll;

  ::-webkit-scrollbar {
    width: 0px;

  }
}



.top-match {
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 2vh;
  margin-bottom: 5px;
  font-size: 16px;
  width: 100%;
  color: #ff5000;
}
