.terms {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 3vh;
  font-size: 10px;
  max-width: 80%;
  text-decoration: none;
  color: #FFFCFC;
}

.terms a {
  text-decoration: none;
  color: inherit;
}
